.main_field {
  z-index: 10;
  position: fixed;
  left: 220px;
  right: 2%;
  top: 100px;
  min-width: 40%;
  min-height: 75%;
  background: linear-gradient(to right, rgb(225, 121, 35), rgb(255, 196, 35));
}

.main_field {
  font: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}