.Main {
  position: relative;
  top: 30%;
  left: 5%;

}

.MainPage {
	background-color:#ffffff;
	border-radius: 10px;
	border:5px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
}
.MainPage:hover {
	background-color:#f6f6f6;
}
.MainPage:active {
	position:relative;
	top:1px;
}