.menu_up {
  position: fixed;
  z-index: 99;
  left: 133px;
  right: 2%;
  top: 10px;
  min-width: 40%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.1);
}

.menu_up {
  font: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}