.main_field {
  z-index: 10;
  position: fixed;
  left: 220px;
  right: 2%;
  top: 100px;
  min-width: 40%;
  min-height: 75%;
  padding-top: 10px;
  padding-left: 10px;
  background-color: rgb(200, 200, 200, 0.7) 
}

.main_field {
  font: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}