.main_field {
  margin: 10px;
  z-index: 10;
  position: fixed;
  left: 2%;
  right: 2%;
  top: 100px;
  min-width: 90%;
  min-height: 84%;  
  background-color: rgb(200, 200, 200, 0.7) 
}

.main_field {
  font: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}