.menu_up {
  z-index: 100;
  position: fixed;
  left: 11%;
  right: 2%;
  top: 0px;
  min-width: 40%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
}

.Login {
  position: absolute;
  right: 0%;
  top: 50%;
}