.side_menu {
  z-index: 100;
  position: fixed;
  left: 10px;
  top: 100px;
  min-width: 5%;
  min-height: 75%;
  background-color: rgb(200, 200, 200, 0.7);
  padding-top: 10px;
  padding-left: 5px;
}

.side_menu {
  font: normal;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}