ul {
  list-style: none;
  /*убираем маркеры списка*/
  margin: 0;
  /*убираем отступы*/
  padding-left: 0;
  /*убираем отступы*/
  margin-top: 25px;
  /*делаем отступ сверху*/
  background: transparent;
  /*добавляем фон всему меню*/
  height: 50px;
  /*задаем высоту*/
}

.a_txt {
  text-decoration: none;
  background: rgb(136, 100, 0);
  color: #fff;
  padding: 0px 15px;
  font-family: arial;
  line-height: 50px;
  display: block;
  border-right: 1px solid #000000;
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;

}

a:hover {
  background: rgb(225, 121, 35);
  /*добавляем эффект при наведении*/
}

li {
  float: left;
  /*Размещаем список горизонтально для реализации меню*/
  position: relative;
  /*задаем позицию для позиционирования*/
}

/*Стили для скрытого выпадающего меню*/
li>ul {
  position: absolute;
  top: 25px;
  display: none;
}

/*Делаем скрытую часть видимой*/
li:hover>ul {
  display: block;
  width: 250px;
  /*Задаем ширину выпадающего меню*/
}

li:hover>ul>li {
  float: none;
  /*Убираем горизонтальное позиционирование*/
}

/* Login page */

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  .form-signin-heading,
  .checkbox {
    margin-bottom: 30px;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

h2 {
  font-family: 'Roboto', sans-serif;
}

/* end login page */

/* footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3%;
  /* Высота блока "footer" */
}

/* end footer */

body {
  display: flex;
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

/* video */

/*Product*/

.products {
  margin: 15px;

  display: flex;
}

.product-item {
  padding: 10px;
  width: 300px;
  text-align: center;
  border-bottom: 2px solid #F5F5F5;
  background: white;
  font-family: "Open Sans";
  transition: .3s ease-in;
}

.product-item:hover {
  border-bottom: 2px solid #fc5a5a;
}

.product-item img {
  display: block;
  width: 270px;
  height: 270px;
}

.product-list {
  background: #fafafa;
  padding: 15px 0;
}

.product-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}

.price {
  font-size: 16px;
  color: #fc5a5a;
  display: block;
  margin-bottom: 12px;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: .3s ease-in;
}

.product-item:hover .button {
  background: #fc5a5a;
}

/*Product*/